<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is Shubham Mishra, an ROR Full Stack Web Developer,
  <br>
  Find out more about me, <a href="https://www.blogger.com/profile/09898046087967419538"> On Blogger</a>
  Even at , <a href="https://github.com/codertcet111"> on Github</a>
</p>